node_modules
*.contentlayer
*.velite
*.git
*.next
*.webpack

.idea
.vscode

package-lock.json

next-env.d.ts

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
