@font-face {
  font-family: 'BlogContent';
  src: url('경기천년바탕_Regular.ttf');
}

@font-face {
  font-family: 'BlogTitle';
  src: url('ChungbukJikji.ttf');
}

@font-face {
  font-family: 'BlogPost';
  src: url('PretendardVariable.ttf');
}

@font-face {
  font-family: 'BlogDeco';
  src: url('Mabinogi_Classic_TTF.ttf');
}
