@font-face {
  font-family: 'BlogContent';
  src: url('경기천년바탕_Regular.ttf');
}

@font-face {
  font-family: 'BlogTitle';
  src: url('ChungbukJikji.ttf');
}

@font-face {
  font-family: 'BlogPost';
  src: url('AppleSDGothicNeoL.ttf');
}
